<footer>powered by <a href="http://github.com/alsotoes/slackme" target="_blank">slackme</a></footer>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async defer>
</script>
